
/*font-family: 'Raleway', sans-serif;
font-family: 'Russo One', sans-serif;*/



body {
  margin: 0;
  font-family: 'Raleway', sans-serif;


}

.topnav {

  overflow: hidden;
  background-color: #333;
  font-family: 'Russo One', sans-serif;


}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 4px 6px;
  text-decoration: none;
  font-size: 25px;
  background-color: #333;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.navbarmainmenu{


  text-decoration: none;
  margin-left: -20px;


}

.navbarmainmenusearch2{

  margin-left: 1055px;
  margin-top: -50px;

}


ul{
  text-decoration: none;
}

li{
  text-decoration: none;
}

a{
  text-decoration: none;
  color: white;
  background-color: #444;
  padding: 3px;
  margin: 5px;
  border-radius: 10px;
}

a:hover{
  transition: 0.3s;
  background-color: #777;
}

h1{
  background-color: #6666;
  padding: 15px;
  margin: 40px;
  border-radius: 15px;
  text-align: center;
  font-family: 'Russo One', sans-serif;

}

.loginblock{
  background-color: #666;
}

.logindiv{
  background-color: #666;
  border-radius: 15px;
  margin: 10px;
  padding: 30px;
  margin-left: 1500px;
  margin-right: 50px;
  text-align: right;
  margin-top: -100px;

}

p{
  padding: 3px;
}

.blog-div{
  margin-top: 0px;

}

.blogclass{

}


button {
  position: relative;
  background-color: #555;
  border: none;
 
  color: #FFFFFF;
  padding: 7px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

button:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
   }

   input[type=text] {
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 40px;
}

.endlinediv{
  background-color: #444;


}

.endline-div{
 background-color: #444;
 font-size: 20px;
 opacity: 70%;
 padding: 5px;
  transition: 0.7s;
  margin-top: 50px;
}

.endline-div:hover{
  transition: 0.4s;
  opacity: 100%;
}